body,
html {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#nav-bar {
  background-image: linear-gradient(
    to bottom right,
    rgb(8, 0, 0),
    rgb(0, 72, 173)
  );
}
#nav-btn {
  font-size: 1.5rem;
}

.icon-trash-empty,
.icon-pencil {
  cursor: pointer;
}

.header-div {
  /* flex: 0 0 50px; */
  position: sticky;
  top: 0;
  z-index: 10;
}
.footer-div {
  /* flex: 0 0 50px; */
  position: sticky;
  bottom: 0;
  z-index: 10;
}

#table-half {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

#transactions-div {
  flex: 1;
  overflow-y: scroll;
  /* display: flex; */

  /* flex-direction: column-reverse; */
}

.input-group:not(.has-validation)
  > .form-control:not(:last-child):not(.dropdown-toggle):not(
    .dropdown-menu
  ):not(.form-floating:not(:first-child)),
#types-group > :nth-child(4) {
  border-top-right-radius: var(--bs-border-radius);
  border-bottom-right-radius: var(--bs-border-radius);
}

#xl-btn {
  color: #1d6f42;
}
